@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./layout.css";

.bg-back_1 {
  background-image: url("/img/back_1_sp.webp");
}

@media (min-width: 640px) {
  .bg-back_1 {
    background-image: url("/img/back_1.webp");
  }
}
.bg-back_2 {
  background-image: url("/img/back_2.webp");
}
